extends layout

block content
  header
    div.left
      input(id="searchBar")
      span.fa.fa-search
    div.right
      #userIcon LS
    #logo
      h2
        i.fa.fa-trello
        |  Trello Clone
      
  #board.clear
    #brdHeader
      h3.left Example Board
      a.right(href="#")
        span.fa.fa-ellipsis-h
        | Show Menu
    #brdMain
      ul(id="lists")
        li.list(data-id="1")
          h4 List One
          ul.cardList
            li.card(data-id="1")
              ul.labels
                li.blue
                li.red
                li.purple
              p L1 Card 1
              ul.icons
                li
                  span.fa.fa-bars
                li
                  span.fa.fa-comment-o
                  | 2
                li
                  span.fa.fa-check-square-o
                  | 2/3
            li.card(data-id="2")
              ul.labels
              p L1 Card 2
              ul.icons
                li
                  span.fa.fa-comment-o
                  | 5
            li.card(data-id="3")
              ul.labels
                li.green
                li.orange
              p L1 Card 3
              ul.icons
                li
                  span.fa.fa-bars
                li
                  span.fa.fa-clock-o
                  | Dec 22
          a("href=#") Add a card...
        li.list(data-id="2")
          h4 List One
          ul.cardList
            li.card(data-id="4")
              ul.labels
                li.red
                li.green
              p L1 Card 4
              ul.icons
                li
                  span.fa.fa-bars
                li
                  span.fa.fa-check-square-o
                  | 4/10
            li.card(data-id="5")
              ul.labels
                li.blue
                li.sky
                li.purple
                li.green
              p L1 Card 5
              ul.icons
            li.card(data-id="6")
              ul.labels
                li.blue
              p L1 Card 6
              ul.icons
                li
                  span.fa.fa-bars
            li.card(data-id="7")
              ul.labels
                li.blue
              p L1 Card 7
              ul.icons
                li
                  span.fa.fa-bars
                li
                  span.fa.fa-check-square-o
                  | 3/3
                li
                  span.fa.fa-clock-o
                  | Jan 04
          a("href=#") Add a card...
      #addList
        div Add a list...
  #cardInfo
    .overlay
    #cardInfoModal
      div.left(id="details")
        div(id="cardData")
          span(class="fa fa-tasks")
          div
            h2 Sample Card
            p in list List One
            p Labels
            ul(id="labelList")
              li.green
              li.yellow
              li(id="addLabelBtn")
                span.fa.fa-plus
            p Description <a href="#"> Edit </a>
            p(id="cardDescription") A description of my card
        div(id="cardComments")
          span(class="fa fa-comment-o")
            .userIcon LS
          div
            h3 Add Comment
            form(method="post" action="#")
              textarea(id="newComment" name="newComment" placeholder="Write a comment...")
              button(type="submit" class="btn" disabled) Save
        div(id="activity")
          span(class="fa fa-sticky-note-o")
          div
            h3.left Activity
            a.right(href="#") Show Details
            ul.clear(id="commentList")
              li
                .userIcon LS
                h4 Launch School Student
                .comment This is a comment
                p Dec 15 at 11:03 AM - <a href="#">Edit</a> - <a href="#">Delete</a>
              li
                .userIcon LS
                h4 Launch School Student
                .comment A second comment
                p Dec 13 at 09:25 AM - <a href="#">Edit</a> - <a href="#">Delete</a>
      div.right(id="actions")
        a(class="fa fa-times right" href="#")
        div.clear
          h3 Add
          ul
            li
              span.fa.fa-tags
              | Labels
            li
              span.fa.fa-check-square-o
              | Checklist
            li
              span.fa.fa-clock-o
              | Due Date
