extends layout

block content
  header
    div.left
      input(id="searchBar")
      span.fa.fa-search
    div.right
      #userIcon LS
    #logo
      h2
        i.fa.fa-trello
        |  Trello Clone
  #board.clear
    #boardHeader
    #boardMain
      ul(id="lists")

          
    