include /mixins

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet")
    +stylesheetLinkTag("application")
    +javascriptIncludeTag("vendor/all")
    +javascriptIncludeTag("handlebarsTemplates")
  body
    block content
    
    +javascriptIncludeTag("application")
    +javascriptIncludeTag("models/board")
    +javascriptIncludeTag("views/boardHeader")
    script(type="text/javascript").
      App.init(!{JSON.stringify(data)});

