include /mixins

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet")
    +stylesheetLinkTag("application")
    +javascriptIncludeTag("vendor/all")
    +javascriptIncludeTag("handlebarsTemplates")
  body
    block content
    
    +javascriptIncludeTag("application")
    +javascriptIncludeTag("models/board", "models/card", "models/list", "models/label", "models/checklist", "models/cardInfo")
    +javascriptIncludeTag("collections/cardSet", "collections/lists", "collections/labels", "collections/checklists")
    +javascriptIncludeTag("views/boardHeader", "views/list", "views/lists", "views/cardSet", "views/card", "views/addNewList", "views/cardInfo", "views/boardNameChange", "views/labelSelector", "views/labelList", "views/dueDateSelect", "views/dueDate")
    script(type="text/javascript").
      App.init();
