<div>
  <form method="post" action="#">
    <input type="text" id="newListName" name="newListName" placeholder="Add a list..." autofocus />
    <button class="btn" type="submit">Save</button>
    <a class="fa fa-times" href="#"></a>
  </form>
</div>
<div>Add a list...</div>
