{{#if labels}}
  <ul class="labels">
    {{#each labels}}
      <li data-label={{this}}></li>
    {{/each}}
  </ul>
{{/if}}
<p>{{title}}</p>
{{#if icons}}
  <li>
    <span class="{{classes}}"></span> {{text}}
  </li>
{{/if}}