<p>Description <a id="openEditDescription" href="#"> Edit </a></p>
<p id="cardDescription">{{description}}</p>
<div id="editDescription">
  <form>
    <textarea id="newDescription" name="newDescription">{{description}}</textarea>
    <button class="btn" type="submit">Save</button>
    <a href="#" id="closeEditDescription" class="fa fa-times"></a>
  </form>
</div>