<div class="overlay"></div>
<div>
  <form action="#" method="post">
    <div>
      <p>Rename Board</p>
      <a class="fa fa-times" href="#"></a>
    </div>
    <h3>Name</h3>
    <input type="text" id="newBoardName" name="newBoardName" value="{{name}}" autofocus />
    <button class="btn" type="submit">Rename</button>
  </form>
</div>