<form action="#" method="post">
  <div>
    <p>Due Date</p>
    <a class="fa fa-times" href="#"></a>
  </div>
  <dl>
    <dt>
      <label for="dateSelection">Date</label>
    </dt>
    <dd>
      <input type="date" id="dateSelection" name="dateSelection" value="{{date}}" />
    </dd>
  </dl>
  <dl>
    <dt>
      <label for="timeSelection">Time</label>
    </dt>
    <dd>
      <input type="time" id="timeSelection" name="timeSelection" value="{{time}}" />
    </dd>
  </dl>
  <button class="btn" type="submit">Save</button>
  <button class="btn cancel" type="button">Remove</button>
</form>
