<p>Labels</p>
<ul id="labelList">
  {{#each labels}}
    <li data-label="{{id}}" class="{{color}}">{{title}}</li>
  {{/each}}
  <li id="addLabelBtn">
    <span class="fa fa-plus"></span>
  </li>
</ul>
