<div>
  <p>Labels</p>
  <a class="fa fa-times" href="#"></a>
</div>
<ul id="labelOptions">
  {{#each labels}}
    <li data-label="{{id}}">
      <div class="{{color}}">{{title}}</div>
      <a class="fa fa-pencil" href="#"></a>
    </li>
  {{/each}}
</ul>
<a href="#">
  <div>
    <p>Create a new label</p>
  </div>
</a>
