<div class="listTitleCtnr"></div>
<ul class="cardList"></ul>
<div id="addCard">
  <div>
    <form method="post" action="#">
      <input type="text" id="newCardName" name="newCardName" placeholder="Add a card..." autofocus />
      <button class="btn" type="submit">Save</button>
      <a class="fa fa-times" href="#"></a>
    </form>
  </div>
  <div>Add a card...</div>
</div>