<form action="#" method="post">
  <div>
    <p>Add Checklist</p>
    <a class="fa fa-times" href="#"></a>
  </div>
  <dl>
    <dt>
      <label for="newChecklistTitle">Title</label>
    </dt>
    <dd>
      <input type="text" id="newChecklistTitle" name="newChecklistTitle" />
    </dd>
  </dl>
  <button class="btn" type="submit">Save</button>
</form>