@import "whitespace-reset.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background-color: #0079bf;
}
body {
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
header {
  height: 40px;
  padding: 7px;
  background: rgba(0,0,0,0.15);
  text-align: center;
}
header div {
  display: inline-block;
  height: 100%;
}
header div input {
  height: 100%;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
header div input + span {
  position: relative;
  right: 20px;
}
header #logo {
  margin-left: -90px;
}
header #logo h2 {
  font: 24px 'Yellowtail', cursive;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
}
header #logo h2:hover {
  color: rgba(255,255,255,0.85);
}
header #userIcon {
  height: 26px;
  width: 26px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #d6dadc;
  border-radius: 100%;
}
#board {
  padding: 7px 10px;
}
#boardHeader {
  height: 40px;
}
#boardHeader h3 {
  font-size: 20px;
  font-weight: bold;
  color: #f6f6f6;
}
#boardHeader a {
  color: #fff;
  text-decoration: underline;
}
#boardHeader a span {
  padding-right: 5px;
}
#lists {
  display: inline-block;
  vertical-align: top;
}
#lists .list {
  vertical-align: top;
  width: 275px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e2e4e6;
}
#lists .list h4 {
  margin: 10px;
  cursor: pointer;
}
#lists .list .cardList .card {
  height: 75px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
#lists .list .cardList .card:hover {
  background-color: rgba(255,255,255,0.6);
}
#lists .list .cardList .card .labels {
  margin-bottom: 5px;
}
#lists .list .cardList .card .labels li {
  display: inline-block;
  height: 8px;
  width: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
#lists .list .cardList .card .icons {
  margin-top: 8px;
}
#lists .list .cardList .card .icons li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}
#lists .list .cardList .card .icons li span {
  padding-right: 5px;
}
#lists .list a {
  display: block;
  padding: 10px;
  color: rgba(0,0,0,0.4);
}
#lists .list a:hover {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.85);
  text-decoration: underline;
}
#addList {
  display: inline-block;
}
#addList div {
  padding: 5px;
  border-radius: 5px;
  width: 275px;
}
#addList div:first-of-type {
  display: none;
  position: absolute;
  height: 80px;
  background-color: #e2e4e6;
}
#addList div:first-of-type input[type="text"] {
  height: 36px;
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
#addList div:first-of-type .btn {
  color: #fff;
  background-color: #61bd4f;
  font-weight: bold;
  margin-right: 10px;
}
#addList div:first-of-type a {
  position: relative;
  top: 3px;
  color: #999;
  font-size: 22px;
}
#addList div:last-of-type {
  height: 40px;
  padding: 12px 10px;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}
#addList div:last-of-type:hover {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.85);
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.btn {
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.green {
  background: #61bd4f;
}
.yellow {
  background: #f2d600;
}
.orange {
  background: #ffab4a;
}
.red {
  background: #eb5a46;
}
.purple {
  background: #c377de;
}
.blue {
  background: #0079bf;
}
.sky {
  background: #00c2e0;
}
