@import "whitespace-reset.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background-color: #0079bf;
}
body {
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
header {
  height: 40px;
  padding: 7px;
  background: rgba(0,0,0,0.15);
  text-align: center;
}
header div {
  display: inline-block;
  height: 100%;
}
header div input {
  height: 100%;
  width: 180px;
}
header div input + span {
  position: relative;
  right: 15px;
}
header #logo {
  margin-left: -90px;
}
header #logo h2 {
  font: 24px 'Yellowtail', cursive;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
}
header #logo h2:hover {
  color: rgba(255,255,255,0.85);
}
header #userIcon {
  height: 26px;
  width: 26px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #d6dadc;
  border-radius: 100%;
}
#board {
  padding: 7px;
}
#brd-header {
  height: 40px;
}
#brd-title h3 {
  font-size: 24px;
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
