@import "whitespace-reset.css";
.list.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.9;
  vertical-align: top;
  width: 275px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #e2e4e6;
}
.list.gu-mirror .cardList {
  min-height: 20px;
}
.list.gu-mirror .cardList .card {
  height: 75px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.list.gu-mirror .cardList .card .labels {
  margin-bottom: 5px;
}
.list.gu-mirror .cardList .card .labels li {
  display: inline-block;
  height: 8px;
  width: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
.list.gu-mirror .cardList .card .icons {
  margin-top: 8px;
}
.list.gu-mirror .cardList .card .icons li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}
.list.gu-mirror .cardList .card .icons li span {
  padding-right: 5px;
}
.list.gu-mirror .cardList .card .editIcon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 3px;
  color: rgba(0,0,0,0.4);
}
.list.gu-mirror .cardList .card .editIcon:hover {
  background-color: rgba(0,0,0,0.15);
}
.list.gu-mirror .cardList .card:hover {
  background-color: rgba(255,255,255,0.6);
}
.list.gu-mirror .cardList .card:hover .editIcon {
  display: block;
}
.list.gu-mirror .cardList .card .editTitlePane {
  display: none;
}
.list.gu-mirror .listTitleCtnr {
  padding: 10px 10px 0 10px;
h4
  margin: 10px 0;
  cursor: pointer;
}
.list.gu-mirror .listTitleCtnr .listTitleEdit {
  display: none;
}
.list.gu-mirror .listTitleCtnr .listTitleEdit .editOverlay {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}
.list.gu-mirror .listTitleCtnr .listTitleEdit input {
  position: relative;
  z-index: 1;
  padding: 3px;
  border-radius: 3px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  width: 80%;
}
.card.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.9;
  height: 75px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.card.gu-mirror .labels {
  margin-bottom: 5px;
}
.card.gu-mirror .labels li {
  display: inline-block;
  height: 8px;
  width: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
.card.gu-mirror .icons {
  margin-top: 8px;
}
.card.gu-mirror .icons li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}
.card.gu-mirror .icons li span {
  padding-right: 5px;
}
.card.gu-mirror .editIcon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 3px;
  color: rgba(0,0,0,0.4);
}
.card.gu-mirror .editIcon:hover {
  background-color: rgba(0,0,0,0.15);
}
.card.gu-mirror:hover {
  background-color: rgba(255,255,255,0.6);
}
.card.gu-mirror:hover .editIcon {
  display: block;
}
.card.gu-mirror .editTitlePane {
  display: none;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  opacity: 0.5;
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background-color: #0079bf;
}
body {
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
  list-style: none;
}
header {
  height: 40px;
  padding: 7px;
  background: rgba(0,0,0,0.15);
  text-align: center;
}
header div {
  display: inline-block;
  height: 100%;
}
header div input {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
header div input + span {
  z-index: 2;
  position: relative;
  right: 20px;
}
header #logo {
  margin-left: -90px;
}
header #logo h2 {
  font: 24px 'Yellowtail', cursive;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
}
header #logo h2:hover {
  color: rgba(255,255,255,0.85);
}
.userIcon {
  height: 26px;
  width: 26px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #d6dadc;
  border-radius: 100%;
}
#board {
  padding: 7px 10px;
}
#boardHeader {
  height: 40px;
}
#boardHeader h3 {
  font-size: 20px;
  font-weight: bold;
  color: #f6f6f6;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 5px;
}
#boardHeader h3:hover {
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}
#boardHeader a {
  color: #fff;
  text-decoration: underline;
}
#boardHeader a span {
  padding-right: 5px;
}
#searchPane {
  display: block;
  position: absolute;
  top: 40px;
  left: 8px;
}
#searchPane .overlay {
  z-index: 1;
}
#searchPane #searchResults {
  position: relative;
  display: block;
  z-index: 2;
  width: 600px;
  min-height: 220px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #e2e4e6;
}
#searchPane #searchResults > p {
  color: rgba(0,0,0,0.4);
  text-align: center;
  padding-top: 60px;
}
#searchPane #searchResults h2 {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 10px;
}
#searchPane #searchResults .searchCard,
#searchPane #searchResults .searchCardInfo {
  display: inline-block;
  vertical-align: top;
}
#searchPane #searchResults .searchCard {
  display: inline-block;
  width: 257px;
  margin-bottom: 10px;
  color: #333;
}
#searchPane #searchResults .searchCard div {
  height: 75px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}
#searchPane #searchResults .searchCard div .searchLabels {
  margin-bottom: 5px;
}
#searchPane #searchResults .searchCard div .searchLabels li {
  display: inline-block;
  height: 8px;
  width: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
#searchPane #searchResults .searchCard div .searchIcons {
  margin-top: 8px;
}
#searchPane #searchResults .searchCard div .searchIcons li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}
#searchPane #searchResults .searchCard div .searchIcons li span {
  padding-right: 5px;
}
#searchPane #searchResults .searchCard div:hover {
  background-color: rgba(255,255,255,0.6);
}
#searchPane #searchResults .searchCardInfo {
  padding-left: 20px;
}
#searchPane #searchResults .searchCardInfo a {
  color: #333;
  font-weight: bold;
}
#searchPane #searchResults .searchCardInfo a:hover {
  text-decoration: underline;
}
#searchPane #searchResults .searchCardInfo p {
  color: rgba(0,0,0,0.4);
}
#lists {
  display: inline-block;
  vertical-align: top;
}
#lists .list {
  vertical-align: top;
  width: 275px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #e2e4e6;
}
#lists .list .cardList {
  min-height: 20px;
}
#lists .list .cardList .card {
  height: 75px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
#lists .list .cardList .card .mainCardPane {
  height: 100%;
  width: 100%;
}
#lists .list .cardList .card .labels {
  margin-bottom: 5px;
}
#lists .list .cardList .card .labels li {
  display: inline-block;
  height: 8px;
  width: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
#lists .list .cardList .card .icons {
  margin-top: 8px;
}
#lists .list .cardList .card .icons li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgba(0,0,0,0.4);
}
#lists .list .cardList .card .icons li span {
  padding-right: 5px;
}
#lists .list .cardList .card .editIcon {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 3px;
  color: rgba(0,0,0,0.4);
}
#lists .list .cardList .card .editIcon:hover {
  background-color: rgba(0,0,0,0.15);
}
#lists .list .cardList .card:hover {
  background-color: rgba(255,255,255,0.6);
}
#lists .list .cardList .card:hover .editIcon {
  display: block;
}
#lists .list .cardList .card .editTitlePane {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#lists .list .cardList .card .editTitlePane .formCtnr {
  height: 150px;
  width: 257px;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 3;
  position: relative;
}
#lists .list .cardList .card .editTitlePane .formCtnr form textarea {
  width: 100%;
  height: 88px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
  border: none;
  outline: none;
  resize: none;
}
#lists .list .cardList .card .editTitlePane .formCtnr form .btn {
  position: absolute;
  top: 160px;
  left: 0;
  border: none;
}
#lists .list .cardList .card .editTitlePane .formCtnr form .btn:hover {
  background-color: #47a236;
}
#lists .list .cardList .card .editTitlePane .overlay {
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}
#lists .list .listTitleCtnr {
  padding: 10px 10px 0 10px;
h4
  margin: 10px 0;
  cursor: pointer;
}
#lists .list .listTitleCtnr .listTitleEdit {
  display: none;
}
#lists .list .listTitleCtnr .listTitleEdit .editOverlay {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}
#lists .list .listTitleCtnr .listTitleEdit input {
  position: relative;
  z-index: 3;
  padding: 3px;
  border-radius: 3px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  width: 80%;
}
#addList,
#addCard {
  display: inline-block;
}
#addList div,
#addCard div {
  padding: 5px;
  border-radius: 5px;
  width: 275px;
}
#addList div:first-of-type,
#addCard div:first-of-type {
  display: none;
  position: absolute;
  height: 80px;
  background-color: #e2e4e6;
}
#addList div:first-of-type input[type="text"],
#addCard div:first-of-type input[type="text"] {
  height: 36px;
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
#addList div:first-of-type .btn,
#addCard div:first-of-type .btn {
  color: #fff;
  background-color: #61bd4f;
  font-weight: bold;
  margin-right: 10px;
}
#addList div:first-of-type a,
#addCard div:first-of-type a {
  position: relative;
  top: 3px;
  color: #999;
  font-size: 22px;
}
#addList div:last-of-type,
#addCard div:last-of-type {
  height: 40px;
  padding: 12px 10px;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}
#addList div:last-of-type:hover,
#addCard div:last-of-type:hover {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.85);
}
#addCard div:first-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#addCard div:last-of-type {
  display: block;
  padding: 10px;
  color: rgba(0,0,0,0.4);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#addCard div:last-of-type:hover {
  background-color: rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.85);
  text-decoration: underline;
}
#cardInfo .overlay {
  z-index: 2;
  background-color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal {
  z-index: 3;
  position: fixed;
  top: 50px;
  left: 50%;
  min-height: 600px;
  width: 760px;
  padding: 15px;
  margin-left: -380px;
  border-radius: 5px;
  background-color: #e2e4e6;
  font-size: 14px;
}
#cardInfo #cardInfoModal h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
#cardInfo #cardInfoModal #details {
  width: 580px;
}
#cardInfo #cardInfoModal #details div span,
#cardInfo #cardInfoModal #details div > div {
  display: inline-block;
  vertical-align: top;
}
#cardInfo #cardInfoModal #details div span {
  padding-right: 20px;
  font-size: 22px;
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #details div span .userIcon {
  margin-top: 10px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.15);
  padding-top: 5px;
}
#cardInfo #cardInfoModal #details div > div {
  width: 90%;
  padding-bottom: 10px;
}
#cardInfo #cardInfoModal #details div > div h2 {
  font-size: 20px;
}
#cardInfo #cardInfoModal #details div > div p {
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #details div > div p a {
  padding-left: 10px;
}
#cardInfo #cardInfoModal #details #cardData #titleCtnr #cardTitleEdit {
  display: none;
  width: 100%;
}
#cardInfo #cardInfoModal #details #cardData #titleCtnr #cardTitleEdit .editOverlay {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}
#cardInfo #cardInfoModal #details #cardData #titleCtnr #cardTitleEdit input {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 3px;
  padding: 0 3px;
  font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  background-color: #e2e4e6;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr {
  width: auto;
  display: inline-block;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr #labelList {
  display: inline-block;
  padding-right: 15px;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr #labelList li {
  display: inline-block;
  height: 30px;
  min-width: 40px;
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: center;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr #labelList #addLabelBtn {
  background-color: rgba(0,0,0,0.08);
  padding-top: 5px;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr #labelList #addLabelBtn span {
  padding: 0 12px;
}
#cardInfo #cardInfoModal #details #cardData #lblCtnr #labelList #addLabelBtn:hover {
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}
#cardInfo #cardInfoModal #details #cardData #dueCtnr {
  width: auto;
  display: inline-block;
}
#cardInfo #cardInfoModal #details #cardData #dueCtnr #dueDate {
  display: inline-block;
  height: 30px;
  width: 170px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.08);
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
#cardInfo #cardInfoModal #details #cardData #dueCtnr #dueDate:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.15);
}
#cardInfo #cardInfoModal #details #cardData #descCtnr p {
  margin-bottom: 10px;
}
#cardInfo #cardInfoModal #details #cardData #descCtnr #cardDescription {
  color: #333;
}
#cardInfo #cardInfoModal #details #cardData #descCtnr #editDescription {
  display: none;
  width: 100%;
}
#cardInfo #cardInfoModal #details #cardData #descCtnr #editDescription textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 3px;
  margin-bottom: 10px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  resize: none;
  outline: none;
  background-color: rgba(0,0,0,0.04);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #details #cardData #descCtnr #editDescription button {
  margin-right: 15px;
}
#cardInfo #cardInfoModal #details #cardData #descCtnr #editDescription a {
  text-decoration: none;
  font-size: 20px;
}
#cardInfo #cardInfoModal #details #cardChecklists {
  width: 100%;
  padding-bottom: 10px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div {
  width: 100%;
  padding-bottom: 10px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div {
  width: 91%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 10px;
  padding-bottom: 20px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div > div {
  width: 100%;
  padding-bottom: 0;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div > div div {
  width: auto;
  padding-bottom: 0;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div > div div a {
  padding-bottom: 0;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div > div div a:first-of-type {
  padding-right: 15px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div .newItem {
  display: none;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div .newItem input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 8px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div .newItem .btn {
  margin-right: 15px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div .newItem .btn:hover {
  background-color: #47a236;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div .newItem a {
  text-decoration: none;
  font-size: 20px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul {
  padding-bottom: 10px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul li {
  display: block;
  width: 100%;
  padding: 10px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul li:hover {
  background-color: rgba(0,0,0,0.08);
  cursor: pointer;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul li span {
  position: relative;
  font-size: 17px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul li p {
  display: inline-block;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
#cardInfo #cardInfoModal #details #cardChecklists > div > div ul li a {
  text-decoration: none;
  font-size: 18px;
}
#cardInfo #cardInfoModal #details #cardChecklists > div:last-of-type {
  padding-bottom: 0;
}
#cardInfo #cardInfoModal #details #cardChecklists > div:last-of-type > div {
  padding-bottom: 0;
  border-bottom: 0;
}
#cardInfo #cardInfoModal #details #cardComments textarea,
#cardInfo #cardInfoModal #details #cardComments button {
  display: block;
}
#cardInfo #cardInfoModal #details #cardComments textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 3px 3px 10px 0px #ada8ad;
}
#cardInfo #cardInfoModal #details #activity #commentList li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
#cardInfo #cardInfoModal #details #activity #commentList li:last-of-type {
  border-bottom: none;
}
#cardInfo #cardInfoModal #details #activity #commentList li h4,
#cardInfo #cardInfoModal #details #activity #commentList li .userIcon {
  position: relative;
}
#cardInfo #cardInfoModal #details #activity #commentList li h4 {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 10px;
  right: 35px;
}
#cardInfo #cardInfoModal #details #activity #commentList li .userIcon {
  display: inline-block;
  font-size: 14px;
  width: 26px;
  background-color: rgba(0,0,0,0.15);
  color: rgba(0,0,0,0.4);
  right: 40px;
}
#cardInfo #cardInfoModal #details #activity #commentList li .comment {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 3px 3px 10px 0px #ada8ad;
}
#cardInfo #cardInfoModal #details #activity #commentList li .comment + p {
  font-size: 12px;
}
#cardInfo #cardInfoModal #details #activity #commentList li .editCommentForm {
  display: none;
}
#cardInfo #cardInfoModal #details #activity #commentList li .editCommentForm textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 3px 3px 10px 0px #ada8ad;
}
#cardInfo #cardInfoModal #details #activity #commentList li .editCommentForm .btn {
  margin-right: 15px;
}
#cardInfo #cardInfoModal #details #activity #commentList li .editCommentForm a {
  text-decoration: none;
  font-size: 18px;
}
#cardInfo #cardInfoModal #labelSelector {
  position: absolute;
  top: 145px;
  right: 15px;
  width: 300px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 5px;
  padding: 10px;
}
#cardInfo #cardInfoModal #labelSelector a {
  color: rgba(0,0,0,0.4);
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}
#cardInfo #cardInfoModal #labelSelector a:hover {
  color: rgba(0,0,0,0.85);
}
#cardInfo #cardInfoModal #labelSelector > div:first-of-type {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #labelSelector > div:first-of-type p {
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #labelSelector > div:first-of-type a {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: rgba(0,0,0,0.15);
}
#cardInfo #cardInfoModal #labelSelector > div:first-of-type a:hover {
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #labelSelector #labelOptions {
  margin-bottom: 15px;
}
#cardInfo #cardInfoModal #labelSelector #labelOptions li {
  margin-bottom: 8px;
}
#cardInfo #cardInfoModal #labelSelector #labelOptions li div {
  display: inline-block;
  height: 33px;
  width: 240px;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 15px;
  color: #fff;
  cursor: pointer;
}
#cardInfo #cardInfoModal #labelSelector #labelOptions li div:hover {
  background-color: rgba(0,0,0,0.15);
  color: #333;
}
#cardInfo #cardInfoModal #labelSelector #labelOptions li .checked:after {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  right: 55px;
}
#cardInfo #cardInfoModal #labelSelector #labelOptions li a {
  padding: 6px 10px;
  vertical-align: top;
  font-size: 18px;
  text-decoration: none;
}
#cardInfo #cardInfoModal #labelSelector > a:last-of-type {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 33px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
#cardInfo #cardInfoModal #labelSelector > a:last-of-type:hover {
  background-color: rgba(0,0,0,0.15);
}
#cardInfo #cardInfoModal #dueDateSelect,
#cardInfo #cardInfoModal #newChecklist {
  position: absolute;
  top: 225px;
  right: 15px;
  width: 300px;
  height: 160px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
}
#cardInfo #cardInfoModal #dueDateSelect form > div,
#cardInfo #cardInfoModal #newChecklist form > div {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #dueDateSelect form > div p,
#cardInfo #cardInfoModal #newChecklist form > div p {
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #dueDateSelect form > div a,
#cardInfo #cardInfoModal #newChecklist form > div a {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 16px;
  color: rgba(0,0,0,0.15);
  cursor: pointer;
  text-decoration: none;
}
#cardInfo #cardInfoModal #dueDateSelect form > div a:hover,
#cardInfo #cardInfoModal #newChecklist form > div a:hover {
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal #dueDateSelect form dl,
#cardInfo #cardInfoModal #newChecklist form dl {
  display: inline-block;
}
#cardInfo #cardInfoModal #dueDateSelect form dl:first-of-type,
#cardInfo #cardInfoModal #newChecklist form dl:first-of-type {
  padding-right: 5px;
  width: 55%;
}
#cardInfo #cardInfoModal #dueDateSelect form dl:last-of-type,
#cardInfo #cardInfoModal #newChecklist form dl:last-of-type {
  padding-left: 5px;
  width: 45%;
}
#cardInfo #cardInfoModal #dueDateSelect form dl dt,
#cardInfo #cardInfoModal #newChecklist form dl dt {
  font-weight: bold;
}
#cardInfo #cardInfoModal #dueDateSelect form input[type="time"],
#cardInfo #cardInfoModal #newChecklist form input[type="time"],
#cardInfo #cardInfoModal #dueDateSelect form input[type="date"],
#cardInfo #cardInfoModal #newChecklist form input[type="date"],
#cardInfo #cardInfoModal #dueDateSelect form input[type="text"],
#cardInfo #cardInfoModal #newChecklist form input[type="text"] {
  height: 30px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#cardInfo #cardInfoModal #dueDateSelect form .btn,
#cardInfo #cardInfoModal #newChecklist form .btn {
  width: 120px;
  font-weight: bold;
}
#cardInfo #cardInfoModal #dueDateSelect form .btn:hover,
#cardInfo #cardInfoModal #newChecklist form .btn:hover {
  background-color: #47a236;
}
#cardInfo #cardInfoModal #dueDateSelect form .btn:first-of-type,
#cardInfo #cardInfoModal #newChecklist form .btn:first-of-type {
  float: left;
}
#cardInfo #cardInfoModal #dueDateSelect form .btn:last-of-type,
#cardInfo #cardInfoModal #newChecklist form .btn:last-of-type {
  float: right;
}
#cardInfo #cardInfoModal #dueDateSelect form .cancel,
#cardInfo #cardInfoModal #newChecklist form .cancel {
  background-color: #eb5a46;
}
#cardInfo #cardInfoModal #dueDateSelect form .cancel:hover,
#cardInfo #cardInfoModal #newChecklist form .cancel:hover {
  background-color: #b93220;
}
#cardInfo #cardInfoModal #dueDateSelect form:after,
#cardInfo #cardInfoModal #newChecklist form:after {
  content: "";
  display: table;
  clear: both;
}
#cardInfo #cardInfoModal #newChecklist {
  top: 185px;
}
#cardInfo #cardInfoModal #newChecklist form dd,
#cardInfo #cardInfoModal #newChecklist form dt,
#cardInfo #cardInfoModal #newChecklist form dl,
#cardInfo #cardInfoModal #newChecklist form dl:last-of-type {
  width: 100%;
}
#cardInfo #cardInfoModal #newChecklist form .btn:first-of-type,
#cardInfo #cardInfoModal #newChecklist form .btn:last-of-type {
  float: none;
  margin-left: 5px;
}
#cardInfo #cardInfoModal #actions {
  width: 150px;
}
#cardInfo #cardInfoModal #actions a {
  text-decoration: none;
  font-size: 22px;
  padding-bottom: 40px;
}
#cardInfo #cardInfoModal #actions div {
  padding-left: 15px;
}
#cardInfo #cardInfoModal #actions div li {
  height: 30px;
  width: 100%;
  padding: 6px 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.08);
  font-weight: bold;
}
#cardInfo #cardInfoModal #actions div li:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.15);
}
#cardInfo #cardInfoModal #actions div li span {
  padding-right: 10px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
#cardInfo #cardInfoModal a {
  text-decoration: underline;
  color: rgba(0,0,0,0.4);
}
#cardInfo #cardInfoModal a:hover {
  color: rgba(0,0,0,0.85);
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
#changeBoardName {
  position: absolute;
  top: 87px;
  left: 10px;
  width: 300px;
  height: 165px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 3px;
}
#changeBoardName form {
  position: relative;
}
#changeBoardName form > div {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
#changeBoardName form > div p {
  color: rgba(0,0,0,0.4);
}
#changeBoardName form > div a {
  position: absolute;
  top: 3px;
  right: 3px;
  color: rgba(0,0,0,0.15);
  cursor: pointer;
}
#changeBoardName form > div a:hover {
  color: rgba(0,0,0,0.4);
}
#changeBoardName form input {
  height: 30px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#changeBoardName form .btn {
  width: 120px;
  font-weight: bold;
}
#changeBoardName form .btn:hover {
  background-color: #47a236;
}
.overlay {
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn {
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  background-color: #61bd4f;
}
.btn:disabled {
  color: rgba(0,0,0,0.4);
  background-color: rgba(255,255,255,0.6);
  cursor: default;
}
.green {
  background: #61bd4f;
}
.yellow {
  background: #f2d600;
}
.orange {
  background: #ffab4a;
}
.red {
  background: #eb5a46;
}
.purple {
  background: #c377de;
}
.blue {
  background: #0079bf;
}
.sky {
  background: #00c2e0;
}
