// STYLUS - application.styl

@import "whitespace-reset.css"
@import "mixins"

*,
*:before,
*:after
  box-sizing: border-box

html,
body
  background-color: colors.default
body
  font: 14px fonts.default, Arial, Helvetica, sans-serif
  color: colors.txt.main
header
  height: 40px
  padding: 7px
  background: colors.shaded.lowBlk
  text-align: center
  div
    display: inline-block
    height: 100%
    input
      height: 100%
      width: 180px
      padding: 5px
      border-radius: 5px
      font: 14px fonts.default, Arial, Helvetica, sans-serif
      color: colors.txt.main
      & + span
        position: relative
        right: 20px
  #logo
    margin-left: -90px
    h2
      font: 24px fonts.logo, cursive
      font-weight: bold
      color: colors.shaded.medWht
      &:hover
        color: colors.shaded.highWht
.userIcon
  height: 26px
  width: 26px
  padding-top: 4px
  text-align: center
  font-weight: bold
  background-color: colors.bg.tertiary
  border-radius: 100%

#board
  padding: 7px 10px
#boardHeader
  height: 40px
  h3
    font-size: 20px
    font-weight: bold
    color: colors.txt.secondary
    display: inline-block
    padding: 5px 7px
    border-radius: 5px
    &:hover
      background-color: colors.shaded.lowBlk
      cursor: pointer
  a
    color: #ffffff
    text-decoration: underline
    span
      padding-right: 5px

#lists
  display: inline-block
  vertical-align: top
  .list
    vertical-align: top
    width: 275px
    display: inline-block
    margin-right: 10px
    margin-bottom: 20px
    border-radius: 5px
    background-color: colors.bg.secondary
    .cardList
      .card
        height: 75px
        padding: 8px
        margin: 10px
        border-radius: 5px
        background-color: #ffffff
        cursor: pointer
        &:hover
          background-color: colors.shaded.medWht
        .labels
          margin-bottom: 5px
          li
            display: inline-block
            height: 8px
            width: 40px
            margin-right: 5px
            border-radius: 3px
        .icons
          margin-top: 8px
          li
            display: inline-block
            margin-right: 20px
            vertical-align: top
            color: colors.shaded.medBlk
            span
              padding-right: 5px
    .listTitleCtnr
      padding: 10px 10px 0 10px
      h4
      margin: 10px 0
      cursor: pointer
      .listTitleEdit
        display: none
        .editOverlay
          width: 100%
          position: fixed
          top: 0
          right: 0
          bottom: 0
          left: 0
          background-color: rgba(0, 0, 0, 0)
        input
          position: relative
          z-index: 1
          padding: 3px
          border-radius: 3px
          font: 14px fonts.default, Arial, Helvetica, sans-serif
          font-weight: bold
          color: colors.txt.main
          width: 80%
#addList,
#addCard
  display: inline-block
  div
    padding: 5px
    border-radius: 5px
    width: 275px
    &:first-of-type
      display: none
      position: absolute
      height: 80px
      background-color: colors.bg.secondary
      input[type="text"]
        height: 36px
        width: 100%
        padding: 5px
        margin-bottom: 3px
        border-radius: 5px
        font: 14px fonts.default, Arial, Helvetica, sans-serif
        color: colors.txt.main
      .btn
        color: #ffffff
        background-color: colors.bg.green
        font-weight: bold
        margin-right: 10px
      a
        position: relative
        top: 3px
        color: colors.txt.tertiary
        font-size: 22px
    &:last-of-type
      height: 40px
      padding: 12px 10px
      color: colors.shaded.medWht
      background-color: colors.shaded.lowBlk
      cursor:  pointer
      &:hover
        background-color: colors.shaded.medBlk
        color: colors.shaded.highWht
#addCard
  div:first-of-type
    border-top-right-radius: 0
    border-top-left-radius: 0
  div:last-of-type
    display: block
    padding: 10px
    color: colors.shaded.medBlk
    border-top-right-radius: 0
    border-top-left-radius: 0
    &:hover
      background-color: colors.shaded.vLowBlk
      color: colors.shaded.highBlk
      text-decoration: underline

#cardInfo
  .overlay
    background-color: colors.shaded.medBlk
  #cardInfoModal
    position: fixed
    top: 50px
    left: 50%
    min-height: 600px
    width: 760px
    padding: 15px
    margin-left: -380px
    border-radius: 5px
    background-color: colors.bg.secondary
    font-size: 14px
    h3
      font-size: 18px
      margin-bottom: 10px
    #details
      width: 580px
      div
        span
        & > div
          display: inline-block
          vertical-align: top
        span
          padding-right: 20px
          font-size: 22px
          color: colors.shaded.medBlk
          .userIcon
            margin-top: 10px
            font-size: 14px
            background-color: colors.shaded.lowBlk
            padding-top: 5px
        & > div
          width: 90%
          padding-bottom: 10px
          h2
            font-size: 20px
          p
            color: colors.shaded.medBlk
            a
              padding-left: 10px
      #cardData
        #titleCtnr
          #cardTitleEdit
            display: none
            width: 100%
            .editOverlay
              width: 100%
              position: fixed
              top: 0
              right: 0
              bottom: 0
              left: 0
              background-color: rgba(0, 0, 0, 0)
            input
              position: relative
              z-index: 1
              width: 100%
              border-radius: 3px
              padding: 0 3px
              font: 20px fonts.default, Arial, Helvetica, sans-serif
              font-weight: bold
              color: colors.txt.main
              background-color: colors.bg.secondary
        #lblCtnr
          width: auto
          display: inline-block
          #labelList
            display: inline-block
            padding-right: 15px
            li
              display: inline-block
              height: 30px
              min-width: 40px
              padding: 8px 15px
              color: #ffffff
              border-radius: 3px
              margin-right: 5px
              margin-bottom: 10px
              vertical-align: top
              text-align: center
            #addLabelBtn
              background-color: colors.shaded.vLowBlk
              padding-top: 5px
              span
                padding: 0 12px
              &:hover
                background-color: colors.shaded.lowBlk
                cursor: pointer
        #dueCtnr
          width: auto
          display: inline-block
          #dueDate
            display: inline-block
            height: 30px
            width: 170px
            border-radius: 3px
            background-color: colors.shaded.vLowBlk
            font-size: 15px
            padding: 5px
            text-align: center
            &:hover
              cursor: pointer
              background-color: colors.shaded.lowBlk
        #descCtnr
          p
            margin-bottom: 10px
          #cardDescription
            color: colors.txt.main
          #editDescription
            display: none
            width: 100%
            textarea
              width: 100%
              min-height: 100px
              padding: 10px
              border: 1px solid colors.shaded.vLowBlk
              border-radius: 3px
              margin-bottom: 10px
              font: 14px fonts.default, Arial, Helvetica, sans-serif
              resize: none
              outline: none
              background-color: colors.shaded.eLowBlk
              -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
              -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
              box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
            button
              margin-right: 15px
            a
              text-decoration: none
              font-size: 20px
      #cardChecklists
        width: 100%
        padding-bottom: 10px
        & > div
          width: 100%
          padding-bottom: 10px
          & > div
            width: 91%
            border-bottom: 1px solid colors.shaded.lowBlk
            margin-bottom: 10px
            padding-bottom: 20px
            & > div
              width: 100%
              padding-bottom: 0
              div
                width: auto
                padding-bottom: 0
                a
                  padding-bottom: 0
                  &:first-of-type
                    padding-right: 15px
            .newItem
              display: none
              input
                height: 30px
                width: 100%
                border-radius: 5px
                padding: 0 5px
                margin-bottom: 8px
                font: 14px fonts.default, Arial, Helvetica, sans-serif
              .btn
                margin-right: 15px
                &:hover
                  background-color: #47a236
              a
                text-decoration: none
                font-size: 20px
            ul
              padding-bottom: 10px
              li
                display: block
                width: 100%
                padding: 10px
                &:hover
                  background-color: colors.shaded.vLowBlk
                  cursor: pointer
                span
                  position: relative
                  font-size: 17px
                p
                  display: inline-block
                  font: 14px fonts.default, Arial, Helvetica, sans-serif
                  color: colors.txt.main
                a
                  text-decoration: none
                  font-size: 18px
        & > div:last-of-type
          padding-bottom: 0
          & > div
            padding-bottom: 0
            border-bottom: 0
      #cardComments
        textarea,
        button
          display: block
        textarea
          width: 100%
          min-height: 80px
          padding: 10px
          border-radius: 3px
          margin-bottom: 10px
          font: 14px fonts.default, Arial, Helvetica, sans-serif
          resize: none
          outline: none
          border: none
          box-shadow: 3px 3px 10px 0px rgba(173,168,173,1)
      #activity
        #commentList
          li
            padding: 15px 0
            border-bottom: 1px solid colors.shaded.lowBlk
            &:last-of-type
              border-bottom: none
            h4,
            .userIcon
              position: relative
            h4
              font-size: 14px
              font-weight: bold
              display: inline-block
              padding-left: 10px
              margin-bottom: 10px
              right: 35px
            .userIcon
              display: inline-block
              font-size: 14px
              width: 26px
              background-color: colors.shaded.lowBlk
              color: colors.shaded.medBlk
              right: 40px
            .comment
              width: 100%
              min-height: 40px
              padding: 10px
              border-radius: 3px
              margin-bottom: 10px
              font: 14px fonts.default, Arial, Helvetica, sans-serif
              background-color: #ffffff
              box-shadow: 3px 3px 10px 0px rgba(173,168,173,1)
              & + p
                font-size: 12px
            .editCommentForm
              display: none
              textarea
                display: block
                width: 100%
                min-height: 80px
                padding: 10px
                border-radius: 3px
                margin-bottom: 10px
                font: 14px fonts.default, Arial, Helvetica, sans-serif
                resize: none
                outline: none
                border: none
                box-shadow: 3px 3px 10px 0px rgba(173,168,173,1)
              .btn
                margin-right: 15px
              a
                text-decoration: none
                font-size: 18px
    #labelSelector
      position: absolute
      top: 145px
      right: 15px
      width: 300px
      background-color: #ffffff
      border: 1px solid colors.shaded.vLowBlk
      border-radius: 5px
      padding: 10px
      a
        color: colors.shaded.medBlk
        display: inline-block
        text-decoration: underline
        cursor: pointer
        font-size: 18px
        &:hover
          color: colors.shaded.highBlk
      & > div:first-of-type
        text-align: center
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px solid colors.shaded.medBlk
        p
          color: colors.shaded.medBlk
        a
          position: absolute
          top: 5px
          right: 5px
          text-decoration: none
          color: colors.shaded.lowBlk
          &:hover
            color: colors.shaded.medBlk
      #labelOptions
        margin-bottom: 15px
        li
          margin-bottom: 8px
          div
            display: inline-block
            height: 33px
            width: 240px
            border-radius: 3px
            padding-top: 10px
            padding-left: 15px
            color: #ffffff
            cursor: pointer
            &:hover
              background-color: colors.shaded.lowBlk
              color: colors.txt.main
          .checked
            &:after
              content: "\f00c"
              font-family: FontAwesome
              position: absolute
              right: 55px
          a
            padding: 6px 10px
            vertical-align: top
            font-size: 18px
            text-decoration: none
      & > a:last-of-type
        display: block
        width: 100%
        border-radius: 3px
        height: 33px
        padding: 10px
        cursor: pointer
        font-size: 14px
        &:hover
          background-color: colors.shaded.lowBlk
    #dueDateSelect,
    #newChecklist
      position: absolute
      top: 225px
      right: 15px
      width: 300px
      height: 160px
      padding: 10px
      background-color: #ffffff
      border: 1px solid colors.shaded.lowBlk
      border-radius: 5px
      form
        & > div
          text-align: center
          padding-bottom: 10px
          margin-bottom: 10px
          border-bottom: 1px solid colors.shaded.medBlk
          p
            color: colors.shaded.medBlk
          a
            position: absolute
            top: 3px
            right: 3px
            font-size: 16px
            color: colors.shaded.lowBlk
            cursor: pointer
            text-decoration: none
            &:hover
              color: colors.shaded.medBlk
        dl
          display: inline-block
          &:first-of-type
            padding-right: 5px
            width: 55%
          &:last-of-type
            padding-left: 5px
            width: 45%
          dt
            font-weight: bold
        input[type="time"],
        input[type="date"],
        input[type="text"]
          height: 30px
          width: 100%
          padding: 5px
          margin: 10px 0
          border-radius: 3px
          font: 14px fonts.default, Arial, Helvetica, sans-serif
        .btn
          width: 120px
          font-weight: bold
          &:hover
            background-color: #47a236
          &:first-of-type
            float: left
          &:last-of-type
            float: right
        .cancel
          background-color: colors.bg.red
          &:hover
            background-color: #b93220
        &:after
          content: ""
          display: table
          clear: both
    #newChecklist
      top: 185px
      form
        dd,
        dt,
        dl,
        dl:last-of-type
          width: 100%
        .btn:first-of-type,
        .btn:last-of-type
          float: none
          margin-left: 5px
    #actions
      width: 150px
      a
        text-decoration: none
        font-size: 22px
        padding-bottom: 40px
      div
        padding-left: 15px
        li
          height: 30px
          width: 100%
          padding: 6px 15px
          margin-bottom: 10px
          border-radius: 3px
          background-color: colors.shaded.vLowBlk
          font-weight: bold
          &:hover
            cursor: pointer
            background-color: colors.shaded.lowBlk
          span
            padding-right: 10px
            font-size: 18px
            position: relative
            top: 2px
    a
      text-decoration: underline
      color: colors.shaded.medBlk
      &:hover
        color: colors.shaded.highBlk

.left
  float: left
.right
  float: right
.clear
  clear: both

#changeBoardName
  position: absolute
  top: 87px
  left: 10px
  width: 300px
  height: 165px
  padding: 10px
  background-color: #ffffff
  border: 1px solid colors.shaded.lowBlk
  border-radius: 3px
  form
    position: relative
    & > div
      text-align: center
      padding-bottom: 10px
      margin-bottom: 10px
      border-bottom: 1px solid colors.shaded.medBlk
      p
        color: colors.shaded.medBlk
      a
        position: absolute
        top: 3px
        right: 3px
        color: colors.shaded.lowBlk
        cursor: pointer
        &:hover
          color: colors.shaded.medBlk
    input
      height: 30px
      width: 100%
      padding: 5px
      margin: 10px 0
      border-radius: 3px
      font: 14px fonts.default, Arial, Helvetica, sans-serif
    .btn
      width: 120px
      font-weight: bold
      &:hover
        background-color: #47a236

.overlay
  background-color: rgba(0, 0, 0, 0)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

.btn
  height: 30px
  border-radius: 5px
  padding: 5px 15px
  font: 14px fonts.default, Arial, Helvetica, sans-serif
  cursor: pointer
  color: #ffffff
  background-color: colors.bg.green
  &:disabled
    color: colors.shaded.medBlk
    background-color: colors.shaded.medWht
    cursor: default

.green
  background: colors.bg.green
.yellow
  background: colors.bg.yellow
.orange
  background: colors.bg.orange
.red
  background: colors.bg.red
.purple
  background: colors.bg.purple
.blue
  background: colors.bg.blue
.sky
  background: colors.bg.sky

  