// STYLUS - mixins.styl

// colors object
colors = {
  default: #0079bf,
  gray: #d6dadc,
  shading: {
    minorDark: rgba(0, 0, 0, 0.15),
    minorLight: rgba(255, 255, 255, 0.15),
    medLight: rgba(255, 255, 255, 0.6),
    highLight: rgba(255, 255, 255, 0.85)
  }
}

// margins and padding
distances = {
  minor: 7px
}

// fonts
fonts = {
  default: 'Helvetica Neue'
  logo: 'Yellowtail'
}
