// STYLUS - mixins.styl

// colors object
colors = {
  default: #0079bf,
  bg: {
    secondary: #e2e4e6
    tertiary: #d6dadc
    green: #61bd4f,
    yellow: #f2d600,
    orange: #ffab4a,
    red: #eb5a46,
    purple: #c377de,
    blue: #0079bf,
    sky: #00c2e0
  },
  shaded: {
    vLowBlk: rgba(0, 0, 0, 0.08)
    lowBlk: rgba(0, 0, 0, 0.15),
    medBlk: rgba(0, 0, 0, 0.4),
    highBlk: rgba(0, 0, 0, 0.85)
    lowWht: rgba(255, 255, 255, 0.15),
    medWht: rgba(255, 255, 255, 0.6),
    highWht: rgba(255, 255, 255, 0.85)
  },
  txt: {
    main: #333333
    secondary: #f6f6f6
    tertiary: #999999
  }
}

// fonts
fonts = {
  default: 'Helvetica Neue'
  logo: 'Yellowtail'
}

